:root {
	--bg-body: #fafafa;
	--bg-header: #466173;
	--bg-footer: #273b47;

	--fontSize:18px;

	--btn-gradient: #fe324e;
	--btn-gradient-star: color(var(--btn-gradient) blackness(40%));
	--btn-gradient-end: color(var(--btn-gradient) lightness(+10%) hue(5%));
}

/*Definiendo Custom media quieries*/

@custom-media --mobile (max-width: 500px);
@custom-media --tablet (max-width: 650px);
@custom-media --desktop (max-width: 800px);

/*Custom para pantallas retina*/

@custom-media --retina (-webkit-min-device-pixel-ratio: 2);


.InvieHero {
	background: url('../images/background.png') var(--bg-header);
	padding: 20px;
	height: 500px;
	

	

	

	&-header {

		display: flex;
		flex-direction: row;
		justify-content: space-between;
		
	}

	&-logo {
		transition: all 0.3s ease-in;
		&:hover {
			filter: blur(1px);
		}
	}

	&-copy {

		&-tittle {
			font-size: calc(var(--fontSize)*3.5);
			
		}

		&-btn {
			border-radius:12px;
			border:none;
			color:var(--bg-body);
			padding: 7px 12px;
			cursor:pointer;
			font-size: var(--fontSize);
			text-decoration: none;
			background: var(--btn-gradient);
			background: linear-gradient(to left, var(--btn-gradient-star), var(--btn-gradient-end));
		}
	}

	




}

.InvieFooter {
	background: var(--bg-footer);
}