:root {
	--bg-body: #fafafa;
	--bg-header: #466173;
	--bg-footer: #273b47;

	--fontSize:18px;
}

.InvieHero {
	background: var(--bg-header);
	padding: 20px;
	height: 500px;
	

	&-header {

		display: flex;
		flex-direction: row;
		justify-content: space-between;
		
	}

	&-copy {

		&-tittle {
			font-size: calc(var(--fontSize)*3.5);
			
		}
	}


}

.InvieFooter {
	background: var(--bg-footer);
}