:root {
	--bg-body: #fafafa;
	--bg-header: #466173;
	--bg-footer: #273b47;
}

.InvieHero {
	background: var(--bg-header);
	padding: 20px;
	height: 500px;
	

	&-header {

		display: flex;
		flex-direction: row;
		justify-content: space-between;
		
	}


}

.InvieFooter {
	background: var(--bg-footer);
}